# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
venv/

# Environment variables
.env
.env.*

# VS Code
.vscode/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
.terraformrc
terraform.rc

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Python cache
.pytest_cache/
.mypy_cache/

# Coverage
.coverage
htmlcov/
